extend layout

block content

p
	| Sample demo using Jade
p
	| node, express, jade, style
	
block sidebar
	.widget
		h1 widget
		
		h5 About Node.js
		p
			| Node.js is blah blah blah
		
		h5 About express
		p
			| Express is blah blah blah